.skills-box {
  height: 200px;
}
span.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}
span.skills i {
  padding-top: 30px;
  font-size: 6em;
  -webkit-transition: -webkit-transform 0.4s, color 0.4s;
  transition: -moz-transform 0.4s, color 0.4s;
  transition: transform 0.4s, color 0.4s;
}
span.skills h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 18px;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s, color 0.4s;
  -moz-transition: -moz-transform 0.4s, color 0.4s;
  transition: transform 0.4s, color 0.4s;
}
span.skills h3:before {
  content: "";
  position: absolute;
  background: #212529;
  width: 60px;
  height: 2px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -30px;
  -webkit-transition: margin-top 0.4s, color 0.4s;
  -moz-transition: margin-top 0.4s, color 0.4s;
  transition: margin-top 0.4s, color 0.4s;
}
span.skills:hover {
  background-color: #18bc9c;
}
span.skills:hover i {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  color: #fff;
}
span.skills:hover h3 {
  -webkit-transform: translateY(-21px);
  -moz-transform: translateY(-21px);
  -ms-transform: translateY(-21px);
  transform: translateY(-21px);
  color: #fff;
}
span.skills:hover h3:before {
  background-color: #fff;
  margin-top: 58px;
}
.position-div {
  display: flex;
  width: 100%;
  justify-content: center;
}
#position-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.position-title {
  width: 168px;
}
.position-title-left {
  /* overriding bootstrap's !important */
  margin-bottom: 10px !important;
}
.position-title-right {
  margin-top: 10px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .position-title {
    width: 300px;
  }
  #position-subtitle {
    width: 750px;
    justify-content: space-between;
    flex-direction: row;
    align-items: normal;
  }
  .position-title-left {
    text-align: right;
    margin: 0;
  }
  .position-title-right {
    text-align: left;
    margin: 0;
  }
}
.portfolio-row {
  justify-content: space-around;
}
.portfolio-modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Large laptops (desktops and laptops, 1440px and up) */
@media (min-width: 1440px) {
  .portfolio-modal-buttons {
    justify-content: space-around;
    flex-direction: row;
    align-items: normal;
  }
}
.portfolio-modal-buttons a {
  margin: 8px;
  width: 160px;
}

.resume-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.bw-button {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #212529;
  width: 345px;
  font-size: 18px;
}

.bw-button:hover {
  background-color: #00b99c;
  color: #f8f9fa;
  border-color: #f8f9fa;
}

a.bw-button + a.bw-button {
  margin-top: 35px;
}

@media (min-width: 990px) {
  a.bw-button + a.bw-button {
    margin-top: 0;
  }
  .resume-buttons {
    flex-direction: row;
  justify-content: space-around;
}
}

#resume-button {
  position: relative;
  top: 0px;
}
